doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Contribute To Node.js, You Ingrate!

    link(rel='stylesheet', type='text/css', href='build/build.css')

  style.
    .nodejs {
      background-image: url('images/nodejs-logo.png')
    }

    .nodeschool {
      background-image: url('images/nodeschool.png')
    }
    
  body

    article

      section(data-bespoke-backdrop='nodejs')
        h1 Contribute To Node.js, You Ingrate!

      section
        h2 &hellip;or&hellip;
        h3 Contribute to any project, really&hellip;
        h4 (you ingrate!)

      section
        h1 Getting started

      section
        h2 Ever notice a typo on the <strike>webiste</strike> website?
        
      section
        h2 File an issue!

      section
        h2 Not sure in which repo to file the issue?

      section
        h2 Pick one!
        h3 If it's the wrong one, someone will tell you.

      section
        h2 Even better&hellip;
        h3 Fix it and file a pull request!
        
      section
        h2 Congratulations! 
        h3 You are now a contributor!

      section
        small (That wasn't so bad, was it?)

      section
        h1 Be active in the community

      section(data-bespoke-backdrop='nodeschool')
        h2 Attend a NodeSchool event
        h3
          a(href='http://nodeschool.io/' target="_blank") http://nodeschool.io/

        
      section(data-bespoke-backdrop='nodeschool')
        h2 Mentor a NodeSchool event
        h3
          a(href='http://nodeschool.io/' target="_blank") http://nodeschool.io/

      section(data-bespoke-backdrop='nodeschool')
        h2 Encourage others to attend a NodeSchool event
        h3
          a(href='http://nodeschool.io/' target="_blank") http://nodeschool.io/

      section
        h2 Terrified of face-to-face interaction?

      section
        h2 Answer Node.js questions on StackOverflow
        code npm install -g stackwatch

      section
        h3 Remember:
        h4 As annoying as the StackOverflow questions might be, your job is to make Node.js the most friendly and awesome community imaginable.

      section
        h1 Specialize

      section
        h2 Join a workgroup
        h3 So many to choose from!
        a(href="https://github.com/nodejs/io.js/blob/master/WORKING_GROUPS.md") https://github.com/nodejs/io.js/blob/master/WORKING_GROUPS.md
      
      section
        h2 Volunteer for a meetup
        h3 (or a conference)
        h4 (especially if you are <strike>a masochist</strike> motivated)
      
      section
        h2 Thank You
        h3 Rich Trott
        h4 @trott

    script(src='build/build.js')